<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        var gsDataFallbackUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        var gsDataFallbackUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% endif %}

        function updateStats(data) {
            var totalCitationElement = document.getElementById('total_cit')
            var totalCitation = data && data['citedby']

            if (totalCitationElement && totalCitation !== undefined) {
                totalCitationElement.innerHTML = totalCitation
            }

            var citationEles = document.getElementsByClassName('show_paper_citations')
            Array.prototype.forEach.call(citationEles, function (element) {
                var paperId = element.getAttribute('data')
                var paperStats = data && data['publications'] && data['publications'][paperId]

                if (paperStats && paperStats['num_citations'] !== undefined) {
                    element.innerHTML = '| Citations: ' + paperStats['num_citations']
                }
            })
        }

        function loadStats(baseUrl) {
            $.getJSON(baseUrl + "google-scholar-stats/gs_data.json")
                .done(updateStats)
                .fail(function () {
                    if (baseUrl !== gsDataFallbackUrl) {
                        loadStats(gsDataFallbackUrl)
                    }
                })
        }

        loadStats(gsDataBaseUrl)
    })
</script>